@model EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>Add Employee</h4>
<hr />
<div class="row my-3">
    <div class="col-md-12">
        <form class=" form-control " method="post" asp-controller="Employee" asp-action="Create">
            
            <partial name="CreateUpdatePartialViewEmployee" model="Model" />

            <div class="form-group my-3">
                <input type="submit" value="Create" class="btn btn-success" />
                <a class="btn btn-primary" asp-action="Index" asp-controller="Employee">Back to List</a>
            </div>
        </form>
    </div>
</div>
@section Validation{

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}



