
@{
    ViewData["Title"] = "CheckInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
<h1> Reset Password Form</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
      <p>
          Verefication Link sent Successfuly,check your inbox
      </p>

    </div>
</div>