@model ForgetPasswordViewmodel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1> Reset Password Form</h1>


<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-controller="Account" asp-action="SendVereficationLink" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <span asp-validation-for="Email" class="text-danger"></span>
            <input asp-for="Email" placeholder="Email">

            
            <input type="submit" value="Send Verefication Link">
        </form>

    </div>
</div>
