@model ResetPpasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1> Reset Password Form</h1>

<div class="main-agileinfo">
    <div class="agileits-top">
        <form asp-controller="Account" asp-action="ResetPassword" method="post">
        

            

            <span asp-validation-for="Password" class="text-danger"></span>
            <input asp-for="Password" placeholder="Password">


            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            <input class=" w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password">

    

      

            <input type="submit" value="Reset Password">
        </form>
    </div>
</div>

